form{
  margin: auto;
  margin-top: 20px;
  min-width: 2.5in;
  width: 30%;
  display: grid;

}
.logo{
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.signinIntro{
  margin: auto;
  font-size: 30px;
  font-family: cursive;
  font-weight: bolder;
  color: #ff748d;
}
.header{
  display: grid;
}

body{
  /* margin: 20px; */
  /* height: 100px; */
  /* background-image: url("https://img.freepik.com/free-vector/prickly-juniper-branch-beige-gray-minimal-background_53876-113047.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706140800&semt=ais"); */
  background-color: aliceblue;
  /* height: 100%; */
  background-size: cover;
}
button{
    border-color: black;
    border-radius: 10px;
    width: 2.5in;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-style: inset;
    border-width: thin;
    margin-bottom: 30px;
}
button:hover{
  background-color: white;
  color: #ff748d;
  font-weight: bold;
  border-color: #ff748d;
  box-shadow: 0px 2px 3px rgb(255 0 0 / 50%), inset 0px 0px 2px rgb(252 2 2 / 95%);
}

.signinbtn{
  width: 100px;
}
mat-spinner{
  margin: auto;
  /* padding-top: 35%; */
}
.pageloading{
  height: 100%;
  width: 100%;
  /* background-color: aquamarine; */
  /* padding: 35%; */
  display: flex;
  margin: auto;
  align-items: center;
}
